<!DOCTYPE html>
<html lang="en">
<head>
<title>装修</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="baidu-site-verification" content="z8EeuYl0nS" />
<meta name="keywords" content="华夏房产">
<meta name="description" content="华夏房产">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link href="css/basic.css" rel="stylesheet"/>
<script src="js/rem.js"></script>
<script src="js/browser.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/base.js" type="application/javascript"></script>
<script src="js/jquery1.8.3.js"></script>
</head>
<body style="background:#fff;">
<div id="app">
	<div class="w750 bg">
		<div class="w710 banner1 bottom20">
			<img src="images/1.jpg">
		</div>
		<div class="sort_select flex">
            <div class="sort_cont flexRowBetween">
                <div class="select_item flexRowBetween" v-for="(item,index) in menuData" @click="tab(index)" style="width:50%;">
                    <span class="span1" :class="isShow == index?'color':''">{{item}}</span>
                    <span class="span2"><img src="images/up1.png"></span>
                </div>
            </div>
        </div>
		<div class="decorateImg">
			<div class="decorate_img w710 flexRowBetween" style="flex-wrap: wrap;">
				<div class="recommend_left" v-for="item in imgData">
					<div class="img1">
						<img :src="item.url">
					</div>
					<div class="decorate_img_detial flex bg">
						<div class="decorate_detial w710 avoidOverflow">
							{{item.name}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div style="font-size:0.20rem;color:#666;text-align:center;">
    技术支持:西安纯粹科技有限公司
</div>
<div class="space_bottom"></div>
<script type="text/javascript">      
    var app = new Vue({
        el: '#app',
        data: function() {
            return {
                menuData:['装修效果图','预约设计师'],
            	mainData:[],
            	imgData:[],
                isShow:0,
            }
        },
        
        created: function () {
        	const self = this;
        	self.getMainData();
        },

        methods:{
        	getMainData(){
        		const self =this;
        	    var postData = {
        	    	"thirdapp_id":1,
					"id":window.base.GetRequest().id
        	    };
        		var callback = (res)=>{
        			console.log(res);
                        self.mainData = res; 
                        if(self.mainData.bannerImg){
                        	for(var i=0;i<self.mainData.bannerImg.length;i++){
                        		self.imgData.push(self.mainData.bannerImg[i]);
                        		self.imgData[i].name= self.mainData.bannerImg[i].name.split('.')[0];
                        	}
                        }

                    };
        		window.base.getArticle(postData,callback);
        	},
            tab(e){
                const self =this;
                self.isShow = e
            },
        }
    });
            
</script>
</body>
</html>