<!DOCTYPE html>
<html lang="en">
<head>
<title>团购看房</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="baidu-site-verification" content="z8EeuYl0nS" />
<meta name="keywords" content="华夏房产">
<meta name="description" content="华夏房产">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link href="css/basic.css" rel="stylesheet"/>
<script src="js/rem.js"></script>
<script src="js/browser.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/base.js" type="application/javascript"></script>
<script src="js/jquery1.8.3.js"></script>
</head>
<body style="background:#fff;">
<div id="app">
	<div class="w750 bg">
		<div class="w710">
		  <div class="recommend flexRowBetween bottom20">
		      <div class="recommend_left flexRowCenter">
		      	<img src="images/group1.png">
		      	<p class="font28 color6 spacing">全程免费</p>
		      	<span class="font22 color9">专车接送 </span>
		      </div>
		      <div class="recommend_left flexRowCenter" style="background:#fcf5ff;">
		      	<img src="images/group2.png">
		      	<p class="font28 color6 spacing">专业带看</p>
		      	<span class="font22 color9">为您解答疑惑 </span>
		      </div>
		  </div>
		  <div class="recommend flexRowBetween bottom20">
		      <div class="recommend_left flexRowCenter" style="background:#f2f9ff;">
		      	<img src="images/group3.png">
		      	<p class="font28 color6 spacing">路线广布</p>
		      	<span class="font20 color9">总会有您中意 </span>
		      </div>
		      <div class="recommend_left flexRowCenter" style="background:#fff7f2;">
		      	<img src="images/group4.png">
		      	<p class="font28 color6 spacing">优惠多多</p>
		      	<span class="font22 color9">看房得实惠 </span>
		      </div>
		  </div>
		  <div class="group_list bottom20" v-for="item in mainData">
			  <div class="group_tlt flex">
			  	<span class="font30 color3">【{{item.create_time}}】</span>
			  	<span class="font30 color3">{{item.name}}</span>
			  </div>
			  <div class="w710">
			  	<div class="font24 lines">
			  		<span class="color6">看房路线：</span>
			  		<span class="color3 right1">→</span>
			  		<a class="color3">{{item.scanRoute}}</a>
			  	</div>
			  	<div class="font24 lines">
			  		<span class="color6">楼盘优惠：</span>
			  		<a class="color3">{{item.service}}</a>
			  	</div>
			  	<div class="font24 lines">
			  		<span class="color6">集合信息：</span>
			  		<a class="color3">{{item.aggregateInfo}}</a>
			  	</div>
			  	<div class="font24 lines flex">
			  		<span class="color6">承诺服务：</span>
			  		<div class="service flex">
			  			<img src="images/group_icon1.png">
			  			<a class="color9 font22">全程免费</a>
			  		</div>
			  		<div class="service flex">
			  			<img src="images/group_icon2.png">
			  			<a class="color9 font22">一对一带看</a>
			  		</div>
			  		<div class="service flex">
			  			<img src="images/group_icon3.png">
			  			<a class="color9 font22">全天在线咨询</a>
			  		</div>
			  	</div>
			  </div>
			  <div class="submit_info" style="margin-top:0.3rem;margin-bottom:0.3rem;" @click="appoint">免费报名</div>
		  </div>
		</div>
	</div>
	<div class="mask1" :style="is_show?'display:block':'display:none'"></div>
	<div class="order" :style="is_show?'display:block':'display:none'" style="height:6rem;">
		<div class="order_cont">
			<div class="order_tlt bg1 font34 color1">
				预约看房
			</div>
			<div class="order_note flex w710">
				<div class="font28 color6" style="width:100%;height:0.7rem">
					我们将为你保密个人信息，免费为你预约专车提供楼盘24小时的看房服务！
				</div>
			</div>
			<div class="w710" style="margin-bottom:0.3rem;">
				<input type="" class="w710 order_input radius10 border_c" placeholder="请输入联系人" v-model="submitData.name"/>
			</div>
			<div class="w710">
				<input type="" class="w710 order_input radius10 border_c" placeholder="请输入联系电话" v-model="submitData.phone"/>
			</div>
			<div class="order_btn flex">
				<button class="color" @click="cancel">取消</button>
				<button class="color" @click="submit">确定</button>
			</div>
		</div>
	</div>
</div>
<div style="font-size:0.20rem;color:#666;text-align:center;">
    技术支持:西安纯粹科技有限公司
</div>
<div class="space_bottom"></div>
<script type="text/babel">      
    var app = new Vue({
        el: '#app',
        data: function() {
            return {
            	mainData:[],
            	is_show:false,
            	submitData:{
            		name:'',
            		phone:'',
            	}
            }
        },
        
        created: function () {
        	const self = this;
        	self.userGroupList();
        },
        methods:{
        		submit(){
	            const self = this;
	            var phone = self.submitData.phone;
	            console.log(self.submitData)
	            const pass = window.base.checkComplete(self.submitData);
	            if(pass){
	              if(phone.trim().length != 11 || !/^1[3|4|5|6|7|8|9]\d{9}$/.test(phone)){
	                alert('手机格式不正确')
	              }else{    
	                self.addMessage();       
	              }
	            }else{
	              alert('请补全信息');
	            };
	          },  
        	userGroupList(){
        		const self =this;
        		var postData = {};
        		 postData = {
			       		"is_page":true,
						"currentPage":1,
						"pagesize":10,
						"searchItem":{
						label:window.base.getCityId()
					}
			    };
        		var callback = (res)=>{
                    self.mainData = res.data; 
                    console.log(self.mainData);
                };
        		window.base.userGroupList(postData,callback);
        	},
        	appoint:function(e){
        		const self = this;
        		self.is_show = !self.is_show;
        	},
        	addMessage(){
        		const self  = this;
        		var postData = {};
        		postData={
        			token:'22a058bb1896f38179f9856f3e13ddb4',
        			thirdapp_id:1,
					submit:self.submitData,
        		};
        		console.log(999,self.postData);
        		const callback = (res)=>{
	             	if(res.solely_code==100000){
						alert('提交成功');
						window.location.reload();
					}else{
						alert('网络故障')
					}
	            };
	             window.base.addMessage(postData,callback);
	             self.cancel();
        	},
        	cancel:function(e){
        		const self = this;
        		self.is_show = false;
        	}
        }
    });
            
</script>
</body>
</html>