<!DOCTYPE html>
<html lang="en">
<head>
<title>详情</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="baidu-site-verification" content="z8EeuYl0nS" />
<meta name="keywords" content="华夏房产">
<meta name="description" content="华夏房产">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link href="css/basic.css" rel="stylesheet"/>
<script src="js/rem.js"></script>
<script src="js/browser.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/base.js" type="application/javascript"></script>
<script src="js/jquery1.8.3.js"></script>
</head>
<body style="background:#fff;">
<div id="app">
	<div class="w750">
		<div class="banner2">
			<img :src="mainData.mainImg[0]?mainData.mainImg[0].url:'images/1.jpg'" />
		</div>
		<div class="">
			<h3 class="houseTitle font32 color3 w710 border_c">
				{{mainData.name}}
				<span class="font22 color6">[{{mainData.area}}]</span>
			</h3>
			<div class="menu1 flexRowBetween font24 color6 border_c">
			  <a class="menu_item flex">
			  	<div class="w100">
				    <span><img src="images/detail_icon1.png"/></span>
				    <div class="font30 color6">首页</div>
				</div>
			  </a>
			  <a class="menu_item flex">
			  	<div class="w100">
				    <span><img src="images/detail_icon2.png"/></span>
				    <div class="font30 color6">详情</div>
				</div>
			  </a>
			  <a class="menu_item flex">
			  	<div class="w100">
				    <span><img src="images/detail_icon3.png"/></span>
				    <div class="font30 color6">动态</div>
				</div>
			  </a>
			  <a class="menu_item flex">
			  	<div class="w100">
				    <span><img src="images/detail_icon4.png"/></span>
				    <div class="font30 color6">相册</div>
				</div>
			  </a>
			  <a class="menu_item flex">
			  	<div class="w100">
				    <span><img src="images/detail_icon5.png"/></span>
				    <div class="font30 color6">房源</div>
				</div>
			  </a>
			</div>
			<div class="detail_show w710 flex">
				<div class="detail_show_left">
					<span class="font30 color9">单价：</span>
					<span class="font30 color3">{{mainData.unitPrice}}/平</span>
				</div>
				<div class="detail_show_left">
					<span class="font30 color9">挂牌：</span>
					<span class="font30 color3">{{mainData.create_time}}</span>
				</div>
				<div class="detail_show_left">
					<span class="font30 color9">楼层：</span>
					<span class="font30 color3">高层/{{mainData.mainLayout}}层</span>
				</div>
				<div class="detail_show_left">
					<span class="font30 color9">楼型：</span>
					<span class="font30 color3">{{mainData.characterLabel}}</span>
				</div>
				<div class="detail_show_left" style="width:100%;">
					<span class="font30 color9">开发商：</span>
					<span class="font30 color3">{{mainData.alias}}</span>
				</div>
				<div class="detail_show_left"  style="width:100%;">
					<span class="font30 color9">地址：</span>
					<span class="font30 color3">{{mainData.address}}</span>
				</div>
				<div class="detail_show_left">
					<span class="font30 color9">开盘时间：</span>
					<span class="font30 color3">{{mainData.recentOpening}}</span>
				</div>
			</div>
			<div class="call w710 flexRowBetween border_c">
				<div class="call_cont flex">
					<div class="call_left">
						<p class="font34 color">售楼处： {{mainData.phone}}</p>
						<p class="font24 color9">最新政策，更多优惠详情，请致电售楼部</p>
					</div>
					<div class="call_right flex">
						<img src="images/phone.png">
					</div>
				</div>
			</div>
			<div class="house_detail_tlt w710 color font36">
				楼盘动态
			</div>
			<div class="font24 color6 w710" v-html="mainData.description">
			</div>
			<div class="house_detail_tlt w710 color font36">
				相册
			</div>
			<div class="decorateImg w710">
				<div class="decorate_img w710 flexRowBetween" style="flex-wrap: wrap;">
					<div class="recommend_left" v-for="item in album">
						<div class="img1">
							<img :src="item.url">
						</div>
						<div class="decorate_img_detial flex bg">
							<div class="decorate_detial w100">
								{{item.name}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="house_detail_tlt w710 color font36">
				房源
			</div>
			<div class="decorateImg w710">
				<div class="decorate_img w710 flexRowBetween" style="flex-wrap: wrap;">
					<div class="recommend_left" style="margin:0" v-for="item in houseData">
						<div class="img1">
							<img :src="item.houseinfo.mainImg[0]?item.houseinfo.mainImg[0].url:'images/1.jpg'">
						</div>
						<div class="decorate_img_detial flex">
							<div class="decorate_detial w100 flexRowBetween">
								<p class="font24 color6">{{item.houseinfo.name}}</p>
								<p class="font24 color">{{item.houseinfo.unitPrice}}/m² </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mask1" :style="is_show?'display:block':'display:none'"></div>
	<div class="order" :style="is_show?'display:block':'display:none'">
		<div class="order_cont">
			<div class="order_tlt bg1 font34 color1">
				预约看房
			</div>
			<div class="order_note flex w710">
				<div class="font28 color6" style="width:100%;height:0.7rem">
					我们将为你保密个人信息，免费为你预约专车提供楼盘24小时的看房服务！
				</div>
			</div>
			<div class="w710">
				<input type="" class="w710 order_input radius10 border_c" v-model="contactPhone"/>
			</div>
			<div class="order_btn flex">
				<button class="color" @click="cancel">取消</button>
				<button class="color" @click="addMessage">确定</button>
			</div>
		</div>
	</div>
	<div class="appoint flex">
		<div class="appoint_left flexRowCenter" @click="appoint">
			<img src="images/nav1.png"/>
			<span class="font28 color3">预约看房</span>
		</div>
		<div class="appoint_left appoint_right flexRowCenter bg1">
			<img src="images/nav2.png"/>
			<span class="font28 color1">联系售楼部</span>
		</div>
	</div>
	<div class="space_bottom"></div>
</div>
<script type="text/javascript">      
    var app = new Vue({
        el: '#app',
        data: function() {
            return {
            	is_show:false,
            	mainData:[],
            	houseData:[],
            	album:[],
            	albumTwo:[],
            	albumName:[],
            	contactPhone:'',
            }
        },
        
        created: function () {
        	const self = this;
        	this.getMainData();
        	this.getHouseNews()
        },

        methods:{
        	getMainData(){
        		const self = this;
        		var postData = {
					"id":window.base.GetRequest().id
        	    };
        	    var callback = (res)=>{
        			console.log(res);
                    self.mainData = res; 
                     if(self.mainData.album){
                     	for(var i=0;i<self.mainData.album.length;i++){
                     		self.album.push(self.mainData.album[i]);
                     		if(self.mainData.album[i].name){
                     			if(self.mainData.album[i].name.indexOf(".")!=-1) {
                     				self.mainData.album[i].name = self.mainData.album[i].name.split('.')[0];
                     			}

                     		}
                     	}
                     }
                     // if(self.mainData.album){
                     // 	for(var i=0;i<self.mainData.album.length;i++){
                     // 		self.album.push(self.mainData.album[i]);
                     // 		console.log(999,self.album);
                     // 		if(self.mainData.album[i].name){
                     // 			if(self.mainData.album[i].name.indexOf(".")!=-1) {
                     // 				console.log(0);
                     // 				var imgName = self.mainData.album[i].name.split('.')[0];
                     // 				self.album.push(imgName);
                     // 			}

                     // 		}
                     // 	}
                     // }
                     // console.log(999,self.album)
                     // for(var j=0;j<self.album.length;j++){
                     // 	if(j%2==0){
                     		
                     // 		self.albumTwo.push(self.album.slice(j,j+2))
                     // 		console.log(1000,self.albumTwo);
                     // 	}
                     // 	console.log(1000,self.albumTwo);
                     // }
                    };
        		window.base.NewHouseArticle(postData,callback);
        	},
        	getHouseNews(){
        		const self =this;
        		var postData = {
        			"is_page":true,
					"currentPage":1,
					"pagesize":4,
					"searchItem":{
						"houseID":window.base.GetRequest().id,
						"type":3
						}
        	    };
        	    var callback = (res)=>{
        			
                    self.houseData = res.data; 
                    console.log(999,self.houseData);
                    };
        		window.base.HouseNews(postData,callback);
        	},
        	addMessage(){
        		const self  = this;
        		var postData = {};
        		postData={
        			token:'22a058bb1896f38179f9856f3e13ddb4',
        			thirdapp_id:1,
					name:"",
					content:"",
					phone:self.contactPhone,
        		};
        		console.log(999,self.postData);
        		const callback = (res)=>{
	             	if(res.solely_code==100000){
						alert('提交成功');
						window.location.reload();
					}else{
						alert('网络故障')
					}
	            };
	             window.base.addMessage(postData,callback);
	             self.cancel();
        	},
        	appoint:function(e){
        		const self = this;
        		self.is_show = !self.is_show;
        		console.log(self.is_show);
        	},
        	cancel:function(e){
        		const self = this;
        		self.is_show = false;
        	}
        }
    });
            
</script>
</body>
</html>