<!DOCTYPE html>
<html lang="en">
<head>
<title>华夏房产</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="baidu-site-verification" content="z8EeuYl0nS" />
<meta name="keywords" content="华夏房产">
<meta name="description" content="华夏房产">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link href="css/basic.css" rel="stylesheet"/>
<script src="js/rem.js"></script>
<script src="js/browser.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/base.js" type="application/javascript"></script>
<script src="js/jquery1.8.3.js"></script>
</head>
<body style="background:#fff;">
<div id="app">
	<div class="w750 bg">
		<div class="banner">
	    	<img src="images/1.jpg" />
		</div>
		<div class="search flex" style="width:100%;">
		    <div class="search_left flexRowCenter font32 color1" @click="select_city">
		      <img src="images/position.png">
		      <span class="font28 color3" v-if="selectData">{{selectData}}</span>
		      <span class="font28 color3" v-else>济宁</span>
		    </div>
		    <div class="search_right flex font28 color6">
		    	<input type="" name="" placeholder="请输入楼盘名称" v-model="search_name"></input>
			      <div class="search_btn flex" @click="searchName">
			       <img src="images/search.png">
			      </div>
		    </div>
		</div>
		<ul class="city" v-if="is_select">
      		<li class="font24 color1"  data-city="济宁" data-label="2" @click="selectCity">济宁</li>
      		<li class="font24 color1"  data-city="北海" data-label="3" @click="selectCity">北海</li>
      		<li class="font24 color1"  data-city="钦州" data-label="4" @click="selectCity">钦州</li>
      		<li class="font24 color1"  data-city="防城港" data-label="6" @click="selectCity">防城港</li>
      	</ul>
	  	<div class="menu flexRowBetween font24 color6 border_c">
		  <a class="menu_item" href="newHouse.html">
		    <span><img src="images/index_icon1.png"/></span>
		    <div>新房</div>
		  </a>
		  <a class="menu_item" href="houseDetail.html">
		    <span><img src="images/index_icon2.png"/></span>
		    <div>海景房</div>
		  </a>
		  <a class="menu_item" href="secondHouse.html">
		    <span><img src="images/index_icon3.png"/></span>
		    <div>二手房</div>
		  </a>
		  <a class="menu_item" href="rentHouse.html">
		    <span><img src="images/index_icon4.png"/></span>
		    <div>出租房</div>
		  </a>
		  <a class="menu_item" href="shopsHouse.html">
		    <span><img src="images/index_icon5.png"/></span>
		    <div>商铺</div>
		  </a>
		  <a class="menu_item" href="officeHouse.html">
		    <span><img src="images/index_icon6.png"/></span>
		    <div>写字楼</div>
		  </a>
		  <a class="menu_item" href="decorate.html">
		    <div><img src="images/index_icon7.png"/></div>
		    <div>装修</div>
		  </a>
		  <a class="menu_item" href="group.html">
		    <span><img src="images/index_icon8.png"/></span>
		    <div>团购报名</div>
		  </a>
		  <a class="menu_item" href="sendHouse.html">
		    <div><img src="images/index_icon9.png"/></div>
		    <div>我要出租</div>
		  </a>
		  <a class="menu_item" href="sellHouse.html">
		    <span><img src="images/index_icon10.png"/></span>
		    <div>我要卖房</div>
		  </a>
		</div>
		<div class="layout_three flex">
			<a class="layout_three_cont flex" href="information.html">
				<div class="layoutT_left">
					<div class="zixun flex">
						<div class="zixun_cont font32 color1">
							房产快讯
						</div>
					</div>
				</div>
				<div class="layoutT_center">
					<div class="avoidOverflow font26 color6"  v-for="item in informationData" >{{item.description}}</div>
				</div>
				<div class="layoutT_right">
					<img :src="informationData[0]&&informationData[0].img[0]?informationData[0].img[0].url:''" />
				</div>
			</a>
		</div>
		<div class="recommdent w710">
			<h3 class="font36 color3 bottom30">买房优选</h3>
			<div class="recommdent_cont flexRowBetween">
				<a class="w32 flex radius20" href="newHouse.html" style="background:#f6f8f3">
					<div class="recommdent_item">
					    <span><img src="images/index_icon4.png"/></span>
					    <h4 class="font28 color3">热门楼盘</h4>
					    <p class="font20" style="color:#8ba666">投资自住皆宜</p>
					</div>
			  	</a>
			  	<a class="w32 flex radius20" href="secondHouse.html"  style="background:#f1f7f8">
					<div class="recommdent_item">
					    <span><img src="images/index_icon4.png"/></span>
					    <h4 class="font28 color3">特价房</h4>
					    <p class="font20"  style="color:#7fcada">投资自住皆宜</p>
					</div>
			  	</a>
			  	<a class="w32 flex radius20" href="group.html" style="background:#faf7f8">
					<div class="recommdent_item">
					    <span><img src="images/index_icon4.png"/></span>
					   <h4 class="font28 color3">团购房</h4>
					    <p  class="font20" style="color:#ee9397">投资自住皆宜</p>
					</div>
			  	</a>
			</div>
		</div>
		<div class="qucik_find w710">
			<h3 class="font36 color3 bottom30" style="margin-top:0.5rem;">快捷找房</h3>
			<div class="area flex">
				<p class="font26 color6">区域：</p>
				<p class="font26 coolr3 area_item" :data-area="item" :style="is_area==item?'color:red':''" @click="searchItem" v-for="(item,index) in cityData">{{item}}</p>
			</div>
			<div class="area_two flex">
				<div class="area flex">
					<p class="font26 color6">面积:</p>
					<p class="font26 coolr3 area_item" data-groomArea="0" data-lroomArea="60" data-id="0" :style="is_room==0?'color:red':''" @click="searchItem1">60平米</p>
					<p class="font26 coolr3 area_item" data-groomArea="60" data-lroomArea="80" data-id="1" :style="is_room==1?'color:red':''" @click="searchItem1">60-80平米</p>
					<p class="font26 coolr3 area_item" data-id="2" :style="is_room==2?'color:red':''"  data-groomArea="80" data-lroomArea="100" @click="searchItem1">80-100平米</p>
				</div>
				<div class="area_up" @click="up_show">
					<img src="images/up.png"/>
				</div>
			</div>
			<div class="area_two flex" :style="is_up?'height:100%;':'height:0;overflow:hidden'">
				<p class="font26 color6" style="width:8%;"></p>
				<p class="font26 coolr3 area_item" data-id="3" :style="is_room==3?'color:red':''" data-groomArea="100" data-lroomArea="130" @click="searchItem1">100-130平米</p>
				<p class="font26 coolr3 area_item" data-id="4" :style="is_room==4?'color:red':''"  data-groomArea="130" data-lroomArea="180" @click="searchItem1">130-180平米</p>
				<p class="font26 coolr3 area_item" data-id="5"   data-groomArea="180" data-lroomArea="" :style="is_room==5?'color:red':''"  @click="searchItem1">180平米以上</p>
			</div>
			<div class="qucik_condition">
				<a class="qucik_item radius20 qucik_color1" href="houseDetail.html">
					海景房
				</a>
				<a class="qucik_item radius20 qucik_color2" data-id="0" @click="second">
					二手房
				</a>
				<a class="qucik_item radius20 qucik_color3" href="group.html">
					团购报名
				</a>
				<a class="qucik_item radius20 qucik_color4" data-id="1" @click="second">
					我要出租
				</a>
				<a class="qucik_item radius20 qucik_color1" data-id="2" @click="second">
					写字楼
				</a>
				<a class="qucik_item radius20 qucik_color2" href="decorate.html">
					精装修
				</a>
				<a class="qucik_item radius20 qucik_color3" data-id="3" @click="second">
					新房查询
				</a>
				<a class="qucik_item radius20 qucik_color4" href="sendHouse.html">
					我要卖房
				</a>
			</div>
		</div>
		<div class="newHouse w710">
			<h3 class="font36 color3 bottom30" style="margin-top:0.5rem;">新房推荐</h3>
			<div v-for="item in newHouseData">
				<div class="new_item" @click="intoPath(item.relationinfo.id)">
					<div class="house_tlt font32 color1">
						<div class="sell_status color1">在售</div>
					</div>
					<div class="house_cont">
						<div class="new_house_box flex">
							<img :src="item.relationinfo.mainImg.length>0?item.relationinfo.mainImg[0].url:''" />
							<div class="new_house_detail w710">
								<div class="house_name flexRowBetween">
									<p class="font32 color1">{{item.relationinfo.name}}</p>
									<p class="font30 color">均价：{{item.relationinfo.unitPrice}}元/m²</p>
								</div>
								<div class="house_address color1 font28 avoidOverflow">
									{{item.relationinfo.address}}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="discount w710 flex">
					<div class="discount_left flex">
						<img src="images/index_icon11.png" />
						<span class="font28 color">赠送两年物业费</span>
					</div>
					<div class="discount_right">
						<a class="discount_btn font28 color radius20">
							获取优惠
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mask1" :style="is_show?'display:block':'display:none'"></div>
	<div class="order" :style="is_show?'display:block':'display:none'">
		<div class="order_cont">
			<div class="order_tlt bg1 font34 color1">
				预约看房
			</div>
			<div class="order_note flex w710">
				<div class="font28 color6" style="width:100%;height:0.7rem">
					我们将为你保密个人信息，免费为你预约专车提供楼盘24小时的看房服务！
				</div>
			</div>
			<div class="w710">
				<input type="" class="w710 order_input radius10 border_c" placeholder="请输入联系电话" v-model="contactPhone"/>
			</div>
			<div class="order_btn flex">
				<button class="color" @click="cancel">取消</button>
				<button class="color" @click="addMessage">确定</button>
			</div>
		</div>
	</div>
	<div class="appoint flex">
			<div class="appoint_left flexRowCenter"  @click="appoint">
				<img src="images/nav1.png"/>
				<span class="font28 color3">预约看房</span>
			</div>
			<a href="tel:400-0000-688" class="appoint_left appoint_right flexRowCenter bg1">
				<img src="images/nav2.png"/>
				<span class="font28 color1">联系售楼部</span>
			</a>
		</div>
</div>
<div class="space_bottom"></div>
<div style="font-size:0.20rem;color:#666;text-align:center;">
    技术支持:西安纯粹科技有限公司
</div>
<script type="text/javascript">      
    var app = new Vue({
        el: '#app',
        data: function() {
            return {
            	is_show:false,
            	is_up:false,
            	newHouseData:[],
            	contactPhone:'',
            	search_name:'',
            	informationData:[],
            	secondItem:{},
            	searchData:[],
            	cityData:['济宁','北海区','钦州','防城港'],
            	selectData:'',
            	selectLabel:'',
            	is_select:false,
            	is_area:'',
            	is_room:999,
            }
        },
        
        created: function () {
        	const self =this;
        	self.getNewHouse();
        	self.getInformation();
        },

        methods:{
        	getInformation(){
        		const self = this;
        		var postData = {};
        		postData = {
        			"currentPage":1,
					"pagesize":2,
					"is_page":true,
					"searchItem":{
						"thirdapp_id":1,
					    "menu_id":"42",
					}
        		}
        		var callback = (res)=>{
        			console.log(res);
                        self.informationData = res.data;
                    };
                    console.log(self.informationData);
        		window.base.GetList(postData,callback);
        	},
        	getNewHouse(){
        		const self =this;
        		var postData = {};
        		 postData = {
			       "thirdapp_id":1,
					"searchItem":{
						"0":{
							"theme_id":10,
							"num":10
						},
						//label:self.selectLabel
					}
			    };
        		console.log(111,postData);
        		var callback = (res)=>{
                        self.newHouseData = res[0];
                        console.log(222,self.newHouseData)
                    };
        		
        		window.base.NewRecomGetList(postData,callback);
        	},
        	addMessage(){
        		const self  = this;
        		var postData = {};
        		postData={
        			token:'22a058bb1896f38179f9856f3e13ddb4',
        			thirdapp_id:1,
					name:"",
					content:"",
					phone:self.contactPhone,
        		};
        		const callback = (res)=>{
	             	if(res.solely_code==100000){
						alert('提交成功');
						window.location.reload();
					}else{
						alert('网络故障')
					}
	            };
	             window.base.addMessage(postData,callback);
	             self.cancel();
        	},
        	searchName(){
        		const self =this;
        		self.mainData = [];
        		var postData = {};
        		 postData = {
					"is_page":true,
					"currentPage":1,
					"pagesize":2,
					"sortby":"unitPrice",
					"sort":"desc",
					"searchItem":{
						"name":self.search_name,//name字段会模糊匹配
					}
				}
				var callback = (res)=>{
                        self.mainData = res.data; 
                        console.log(789,self.mainData);
                        if(self.mainData.length>0){
                        	window.location.href="./houseDetail.html?id="+self.mainData[0].id
                        }else{
                        	alert("没有该楼盘")
                        }
                    };
        		window.base.newHouseSearch(postData,callback);
        	},
        	searchItem(e){
        		const self =this;
        		var dataSet = window.base.getDataSet(e);
        		if (dataSet.area){
        			self.secondItem.area = dataSet.area;
        		}
        		self.is_area = dataSet.area;

        		console.log(121,self.is_area);
        	},
        	searchItem1(e){
        		const self =this;
        		var dataSet = window.base.getDataSet(e);
        		if (dataSet.groomarea&&dataSet.lroomarea){
        			self.secondItem.groomArea = dataSet.groomarea;
        			self.secondItem.lroomArea = dataSet.lroomarea;
        		}
        		self.is_room = dataSet.id;
        		console.log(122,self.secondItem);
        	},

        	second(e){
        		const self =this;
        	    var dataSet = window.base.getDataSet(e).id;
        		if(dataSet==0){
        			window.location.href='secondHouse.html?area='+self.secondItem.area+'&groom='+self.secondItem.groomArea+'&lroom='+self.secondItem.lroomArea
        		}
                if(dataSet==1){
                		window.location.href='rentHouse.html?area='+self.secondItem.area
                }
                if(dataSet==2){
                	
        			window.location.href='officeHouse.html?area='+self.secondItem.area+'&groom='+self.secondItem.groomArea+'&lroom='+self.secondItem.lroomArea
                }
                if (dataSet==3){
                		window.location.href='newHouse.html?area='+self.secondItem.area
                }
        	},
        	selectCity(e){
        		const self =this;
        	    var dataSet = window.base.getDataSet(e);
        	    self.selectData = dataSet.city;
        	    self.selectLabel = dataSet.label;
        	    self.is_select = false;
        	    console.log(999,self.selectLabel);
			    localStorage.setItem('city',self.selectLabel);
			    // window.location.reload();
        	},
        	appoint:function(e){
        		const self = this;
        		self.is_show = !self.is_show;
        	},
        	up_show:function(e){
        		const self = this;
        		self.is_up = !self.is_up;
        	},
        	cancel:function(e){
        		const self = this;
        		self.is_show = false;
        	},
        	select_city:function(e){
        		const self = this;
        		self.is_select = !self.is_select;
        		console.log(self.is_select);
        	},
        	intoPath(index){
        		console.log(index);
        		var art_id = index;
        		window.location.href="houseDetail.html?id="+art_id;
        	}
        }
    });         
</script>
</body>
</html>