<!DOCTYPE html>
<html lang="en">
<head>
<title>写字楼</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="baidu-site-verification" content="z8EeuYl0nS" />
<meta name="keywords" content="华夏房产">
<meta name="description" content="华夏房产">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link href="css/basic.css" rel="stylesheet"/>
<script src="js/rem.js"></script>
<script src="js/browser.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/base.js" type="application/javascript"></script>
<script src="js/jquery1.8.3.js"></script>
</head>
<style>
	.condition .condition_item:last-child{
		margin-top:0.2rem;
	}
</style>
<body style="background:#fff;">
<div id="app">
	<div class="w750 bg">
		<div style="position: fixed;top:0;background:#fff;z-index:999;width:100%;">
			<div class="search_second w710 flex" style="margin-top: 0.2rem;margin-bottom: 0.2rem;z-index:99">
			    <div class="search_right flex font28 color6 bg" style="width:100%;">
			    	<input type="" style="width:88%;" class="bg" name="" placeholder="请输入楼盘名称" v-model="search_name"/>
				      <div class="search_btn flex bg" style="width:12%" @click="searchName">
				        <img src="images/search.png">
				      </div>
			    </div>
			</div>
			<div class="sort_select flex">
				<div class="sort_cont flexRowBetween">
					<div class="select_item flexRowBetween" v-for ="(item,index) in menuData" @click="tab(index)">
						<span class="span1">{{item}}</span>
						<span class="span2"><img src="images/up1.png"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="mask" :style="isShow == 0||isShow == 1||isShow == 2||isShow == 3?'height:100%':'height:0'">
			<div class="select_cont">
				<div class="select_box" :style="isShow == 0?'display:block':'display:none'">
					<div class="select_top flex">
						<img src="images/up2.png" style="left:12.5%">
					</div>
					<div class="select_bottom">
						<div class="select_lines font30 color3" @click="search">不限</div>
						<div class="select_lines font30 color3" data-area="北海区"  @click="search">北海区</div>
						<div class="select_lines font30 color3" data-area="防城港"  @click="search">防城港</div>
						<div class="select_lines font30 color3" data-area="钦州"  @click="search">钦州</div>
						<div class="select_lines font30 color3" data-area="济南"  @click="search">济南</div>
					</div>
				</div>
				<div class="select_box" :style="isShow == 1?'display:block':'display:none'">
					<div class="select_top flex">
						<img src="images/up2.png" style="left:37.5%">
					</div>
					<div class="select_bottom">
						<div class="select_lines font30 color3" data-gtotalPrice="0" data-ltotalPrice="500" @click="search">1000以下</div>
						<div class="select_lines font30 color3" data-gtotalPrice="1000" data-ltotalPrice="3000" @click="search">1000~3000</div>
						<div class="select_lines font30 color3" data-gtotalPrice="3000" data-ltotalPrice="7000" @click="search">3000~7000</div>
						<div class="select_lines font30 color3" data-gtotalPrice="7000" data-ltotalPrice="11000" @click="search">7000~11000</div>
						<div class="select_lines font30 color3" data-gtotalPrice="11000" data-ltotalPrice="18000" @click="search">11000~18000</div>
						<div class="select_lines font30 color3" data-gtotalPrice="18000" data-ltotalPrice="30000" @click="search">18000~30000</div>
						<div class="select_lines font30 color3" data-gtotalPrice="30000" data-ltotalPrice="50000" @click="search">30000~50000</div>
						<div class="select_lines font30 color3" data-gtotalPrice="50000" data-ltotalPrice="" @click="search">50000以上</div>
					</div>
				</div>
				<div class="select_box" :style="isShow == 2?'display:block':'display:none'">
					<div class="select_top flex" >
						<img src="images/up2.png"  style="left:61.5%">
					</div>
					<div class="select_bottom">
						<div class="select_lines font30 color3" data-groomArea="" data-lroomArea="50" @click="search">50m²以下</div>
						<div class="select_lines font30 color3" data-groomArea="50" data-lroomArea="90" @click="search">50-90m²</div>
						<div class="select_lines font30 color3" data-groomArea="90" data-lroomArea="150" @click="search">90-150m²</div>
						<div class="select_lines font30 color3" data-groomArea="150" data-lroomArea="220" @click="search">150-220m²</div>
						<div class="select_lines font30 color3" data-groomArea="220" data-lroomArea="300" @click="search">220-300m²</div>
						<div class="select_lines font30 color3" data-groomArea="300" data-lroomArea="400" @click="search">300-400m²</div>
						<div class="select_lines font30 color3" data-groomArea="400" data-lroomArea="600" @click="search">400-600m²</div>
						<div class="select_lines font30 color3" data-groomArea="600" data-lroomArea="" @click="search">600m²以上</div>
					</div>
				</div>
				<div class="select_box" :style="isShow == 3?'display:block':'display:none'">
					<div class="select_top flex" >
						<img src="images/up2.png"  style="left:86.5%">
					</div>
					<div class="select_bottom">
						<div class="w710">
							<p class="font30 color6" style="height:0.82rem;line-height:0.82rem">类型</p>
							<div class="condition flexRowBetween">
								<div class="condition_item" v-for="item in officeMode" :data-officeMode="item" :style="is_office==item?'color:red':''" @click="modeSelect" >{{item}}</div>
							</div>
							<p class="font30 color6" style="height:0.82rem;line-height:0.82rem">特色</p>
							<div class="condition flexRowBetween padding30 border_c">
								<div class="condition_item" v-for="item in characterLabel" :style="is_character==item?'color:red':''"  :data-characterLabel="item" @click="character">{{item}}</div>
							</div>
							<div class="confirm_btn flexRowBetween">
								<div class="bg1 font28 color1" @click="search">确认</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="house_all">
				<div class="house_list w710 flex" v-for="item in mainData">
					<div class="house_list_cont flex" @click="intoPath(item.id)">
						<div class="house_img">
							<img :src="item.mainImg&&item.mainImg.length>0?item.mainImg[0].url:''">
						</div>
						<div class="house_right">
							<div class="flex houseName">
								<h4 class="font30 color3">{{item.name}}</h4>
								<span class="font22 color9">[{{item.area}}]</span>
							</div>
							<div class="font24 color9 flex officeItem" style="height:26%;">
								<span>{{item.officeClass}}</span>|
								<span>{{item.decoration}}</span>|
								<span>共{{item.floor}}层</span>|

								<span>{{item.officeMode}}</span>

							</div>
							<div class="house_price flexRowBetween" style="height:26%;">
								<p>
									{{item.roomArea}}m²
								</p>
								<span class="font24 color">均价{{item.unitPrice}}元/m²</span>
							</div>
							<div class="house_condition flex avoidOverflow" style="height:26%;">
								{{item.address}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div style="font-size:0.20rem;color:#666;text-align:center;">
			    技术支持:西安纯粹科技有限公司
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">      
    var app = new Vue({
        el: '#app',
        data: function() {
            return {
            	isShow:999,
            	menuData:['区域','租金','面积','更多'],
            	mainData:[],
            	searchItem:{},
            	bannerImg:[],
            	search_name:'',
            	officeMode:[
            	 '不限','纯写字楼','商业综合体','住宅写字楼'
            	],
            	characterLabel:[
            		'免费中介','可注册','交通便利','地标建筑','中心商务区','独栋写字楼'
            	],
            	is_office:'',
            	is_character:''
            }
        },
        
        created: function () {
        	const self = this;
        	this.OfficeHouseList()
        },
        methods:{
        	OfficeHouseList(){
        		const self =this;
        		var area = window.base.GetRequest().area;
        		var groom = window.base.GetRequest().groom;
        		var lroom = window.base.GetRequest().lroom;
        		if(area !=='undefined'){
        			self.searchItem.area =area
        		}
        		if(groom !=='undefined'){
        			self.searchItem.groomArea =groom;
        			self.searchItem.lroomArea =lroom
        		}
        		if(area !=='undefined'&&groom !=='undefined'){
        			self.searchItem ={}
        		}
        		var postData = {};
        		 postData = {
			       		"is_page":true,
						"currentPage":1,
						"pagesize":10,
						searchItem:self.searchItem,
			    };
        		var callback = (res)=>{
                    self.mainData = res.data; 
                    console.log(self.mainData);
                };
        		console.log(999,self.searchItem);
        		if (area||groom||lroom) {
                	postData.sortby = "roomArea";
                	postData.sort = "asc";
                	window.base.officeHouseSearch(postData,callback);
                }else{
        			window.base.OfficeHouseList(postData,callback);
        		}
        	},
        	search(e){
        		const self =this;
        		self.mainData = [];
        		var dataSet = window.base.getDataSet(e);
        		console.log(999,dataSet);
        		if(dataSet.gtotalprice&&dataSet.ltotalprice){
        			self.searchItem.gunitPrice = dataSet.gtotalprice;
        			self.searchItem.lunitPrice = dataSet.ltotalprice;
        		}
        		if (dataSet.groomarea&&dataSet.lroomarea){
        			self.searchItem.groomArea = dataSet.groomarea;
        			self.searchItem.lroomArea = dataSet.lroomarea;
        		}
        		if (dataSet.officemode){
        			self.searchItem.officeMode = dataSet.officemode;
        		}
        		if (dataSet.characterlabel){
        			self.searchItem.characterLabel = dataSet.characterlabel;
        		}
        		
        		if (dataSet.area){
        			self.searchItem.area = dataSet.area;
        		}
        		console.log(1000,self.searchItem);
        		var postData = {};
        		 postData = {
					"is_page":true,
					"currentPage":1,
					"pagesize":2,
					"sortby":"totalPrice",
					"sort":"asc",
					searchItem:self.searchItem,
				}
        		var callback = (res)=>{
        				self.isShow = 999;
                        self.mainData = res.data; 
                        
                    };
        		window.base.officeHouseSearch(postData,callback);
        	},
        	searchName(){
        		const self =this;
        		self.mainData = [];
        		var postData = {};
        		 postData = {
					"is_page":true,
					"currentPage":1,
					"pagesize":6,
					"sortby":"unitPrice",
					"sort":"desc",
					"searchItem":{
						"name":self.search_name,//name字段会模糊匹配
					}
				}
				var callback = (res)=>{
        			console.log(21,res);
                        self.mainData = res.data; 
                        console.log(self.mainData);
                    };
        		window.base.officeHouseSearch(postData,callback);
        	},
        	modeSelect(e){
        		const self =this;
        		dataSet = window.base.getDataSet(e);
        		self.searchItem.officeMode = dataSet.officemode;
        		console.log(999,self.searchItem.officeMode);
        		self.is_office = dataSet.officemode;
        	},
        	character(e){
        		const self =this;
        		dataSet = window.base.getDataSet(e);
        		self.searchItem.characterLabel = dataSet.characterlabel;
        		self.is_character = dataSet.characterlabel;
        	},
        	clear_condition(){
        		self.searchItem = {}
        		console.log(self.searchItem);
        	},
        	tab(e){
        		const self =this;
        		if(self.isShow == e){
 					self.isShow = 999
        		}else{
        			self.isShow = e
        		}
        	},
        	intoPath(index){
        		const self = this;
        		console.log(index);
                const art_id = index;
                window.location.href = "./officeDetail.html?id=" + art_id;
        	}
        }
    });
            
</script>
</body>
</html>