<!DOCTYPE html>
<html lang="en">
<head>
<title>出租房</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="baidu-site-verification" content="z8EeuYl0nS" />
<meta name="keywords" content="华夏房产">
<meta name="description" content="华夏房产">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link href="css/basic.css" rel="stylesheet"/>
<script src="js/rem.js"></script>
<script src="js/browser.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/base.js" type="application/javascript"></script>
<script src="js/jquery1.8.3.js"></script>
</head>
<body style="background:#fff;">
<div id="app">
	<div class="w750 bg">
		<div style="position: fixed;top:0;background:#fff;z-index:999;width:100%;">
			<div class="search_second w710 flex" style="margin-top: 0.2rem;margin-bottom: 0.2rem;z-index:99">
			    <div class="search_right flex font28 color6 bg" style="width:100%;">
			    	<input type="" style="width:88%;" class="bg" name="" placeholder="请输入楼盘名称" v-model="search_name"/>
				      <div class="search_btn flex bg" style="width:12%" @click="searchName">
				        <img src="images/search.png">
				      </div>
			    </div>
			</div>
			<div class="sort_select flex">
				<div class="sort_cont flexRowBetween">
					<div class="select_item flexRowBetween" v-for ="(item,index) in menuData" @click="tab(index)">
						<span class="span1">{{item}}</span>
						<span class="span2"><img src="images/up1.png"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="mask" :style="isShow == 0||isShow == 1||isShow == 2?'height:100%':'height:0'">
			<div class="select_cont">
				<div class="select_box" :style="isShow == 0?'display:block':'display:none'">
					<div class="select_top flex">
						<img src="images/up2.png" style="left:12.5%">
					</div>
					<div class="select_bottom">
						<div class="select_lines font30 color3" @click="search">不限</div>
						<div class="select_lines font30 color3" data-area="北海区"  @click="search">北海区</div>
						<div class="select_lines font30 color3" data-area="防城港"  @click="search">防城港</div>
						<div class="select_lines font30 color3" data-area="钦州"  @click="search">钦州</div>
						<div class="select_lines font30 color3" data-area="济南"  @click="search">济南</div>
					</div>
				</div>
				<div class="select_box" :style="isShow == 1?'display:block':'display:none'">
					<div class="select_top flex">
						<img src="images/up2.png" style="left:37.5%">
					</div>
					<div class="select_bottom">
						<div class="select_lines font30 color3" data-gunitPrice="0" data-lunitPrice="500" @click="search">500</div>
						<div class="select_lines font30 color3" data-gunitPrice="500" data-lunitPrice="700" @click="search">500~700</div>
						<div class="select_lines font30 color3" data-gunitPrice="700" data-lunitPrice="900" @click="search">700~900</div>
						<div class="select_lines font30 color3" data-gunitPrice="900" data-lunitPrice="1200" @click="search">900~1200</div>
						<div class="select_lines font30 color3" data-gunitPrice="1200" data-lunitPrice="1700" @click="search">1200~1700</div>
						<div class="select_lines font30 color3" data-gunitPrice="1700" data-lunitPrice="2000" @click="search">1700~2000</div>
						<div class="select_lines font30 color3" data-gunitPrice="2000" data-lunitPrice="5000" @click="search">2000以上</div>
					</div>
				</div>
				<div class="select_box" :style="isShow == 2?'display:block':'display:none'">
					<div class="select_top flex" >
						<img src="images/up2.png"  style="left:61.5%">
					</div>
					<div class="select_bottom">
						<div class="select_lines font30 color3"  @click="search">不限</div>
						<div class="select_lines font30 color3" data-layout="三室两厅" @click="search">三室两厅</div>
						<div class="select_lines font30 color3" data-layout="三室一厅" @click="search">三室一厅</div>
						<div class="select_lines font30 color3" data-layout="两室一厅" @click="search">两室一厅</div>
					</div>
				</div>
				<div class="select_box" :style="isShow == 3?'display:block':'display:none'">
					<div class="select_top flex" >
						<img src="images/up2.png"  style="left:86.5%">
					</div>
					<div class="select_bottom">
						<div class="select_lines font30 color3">不限</div>
						<div class="select_lines font30 color3" data-rentMode="整租" @click="search">整租</div>
						<div class="select_lines font30 color3" data-rentMode="合租" @click="search">合租</div>
						<div class="select_lines font30 color3" data-rentMode="日租" @click="search">日租</div>
						<div class="select_lines font30 color3" data-rentMode="周租" @click="search">周租</div>
						<div class="select_lines font30 color3" data-rentMode="月租年租" @click="search">月租年租</div>
					</div>
				</div>
			</div>
			<div class="house_all">
				<div class="house_list w710 flex" v-for="item in mainData">
					<div class="house_list_cont flex" @click="intoPath(item.id)">
						<div class="house_img">
							<img :src="item.mainImg&&item.mainImg.length>0?item.mainImg[0].url:''">
						</div>
						<div class="house_right">
							<div class="flex houseName">
								<h4 class="font30 color3">{{item.name}}</h4>
								<span class="font22 color9">[{{item.area}}]</span>
							</div>
							<div class="house_price flexRowBetween">
								<p>
									{{item.roomArea}}m²
								</p>
								<span class="font24 color">均价{{item.unitPrice}}元/m²</span>
							</div>
							<div class="house_condition flex" style="height:40%;">
								{{item.address}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div style="font-size:0.20rem;color:#666;text-align:center;">
			    技术支持:西安纯粹科技有限公司
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">      
    var app = new Vue({
        el: '#app',
        data: function() {
            return {
            	isShow:999,
            	menuData:['区域','租金','户型','方式'],
            	mainData:[],
            	searchItem:{},
            	search_name:'',
            }
        },
        
        created: function () {
        	const self = this;
        	self.rentHouseList();
        },

        methods:{
        	tab(e){
        		const self =this;
        		if(self.isShow == e){
 					self.isShow = 999
        		}else{
        			self.isShow = e
        		}
        	},
        	rentHouseList(){
        		const self =this;
        		var area = window.base.GetRequest().area;
        		if(area !=='undefined'){
        			self.searchItem.area =area
        		}else{
        			self.searchItem ={}
        		}
        		var postData = {};
        		console.log(1000,self.searchItem)
        		 postData = {
			       		"is_page":true,
						"currentPage":1,
						"pagesize":10,
						searchItem:self.searchItem,
			    };
        		var callback = (res)=>{
                        self.mainData = res.data; 
                        console.log(self.mainData);
                    };
        	
        		if (area) {
                	postData.sortby = "roomArea";
                	postData.sort = "desc";
                	window.base.rentHouseSearch(postData,callback);
                }else{
        			window.base.rentHouseList(postData,callback);
        		}
        	},
        	search(e){
        		const self =this;
        		self.mainData = [];
        		var dataSet = window.base.getDataSet(e);
        		console.log(999,e);
        		if(dataSet.gunitprice&&dataSet.lunitprice){
        			self.searchItem.gunitPrice = dataSet.gunitprice;
        			self.searchItem.lunitPrice = dataSet.lunitprice;
        		}
        		if(dataSet.area){
        			self.searchItem.area = dataSet.area;
        		}
        		if(dataSet.layout){
        			self.searchItem.layout = dataSet.layout;
        		}
        		if(dataSet.rentmode){
        			self.searchItem.rentMode = dataSet.rentmode;
        		}
        		console.log(1000,self.searchItem);
        		var postData = {};
        		 postData = {
					"is_page":true,
					"currentPage":1,
					"pagesize":12,
					"sortby":"unitPrice",
					"sort":"desc",
					searchItem:self.searchItem,
				}
        		var callback = (res)=>{
        				self.isShow = 999;
                        self.mainData = res.data; 
                        
                    };
        		window.base.rentHouseSearch(postData,callback);
        	},
        	searchName(){
        		const self =this;
        		self.mainData = [];
        		var postData = {};
        		 postData = {
					"is_page":true,
					"currentPage":1,
					"pagesize":6,
					"sortby":"unitPrice",
					"sort":"desc",
					"searchItem":{
						"name":self.search_name,//name字段会模糊匹配
					}
				}
				var callback = (res)=>{
        			console.log(21,res);
                        self.mainData = res.data; 
                        console.log(self.mainData);
                    };
        		window.base.rentHouseSearch(postData,callback);
        	},
        	intoPath(index){
        		const self = this;
        		console.log(index);
                const art_id = index;
                window.location.href = "./rentDetail.html?id=" + art_id;
        	}
        },
    });
            
</script>
</body>
</html>