<!DOCTYPE html>
<html lang="en">
<head>
<title>商铺</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="baidu-site-verification" content="z8EeuYl0nS" />
<meta name="keywords" content="华夏房产">
<meta name="description" content="华夏房产">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link href="css/basic.css" rel="stylesheet"/>
<script src="js/rem.js"></script>
<script src="js/browser.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/base.js" type="application/javascript"></script>
<script src="js/jquery1.8.3.js"></script>
</head>
<body style="background:#fff;">
<div id="app">
	<div class="w750 bg">
		<div style="position: fixed;top:0;background:#fff;z-index:999;width:100%;">
			<div class="search_second w710 flex" style="margin-top: 0.2rem;margin-bottom: 0.2rem;z-index:99">
			    <div class="search_right flex font28 color6 bg" style="width:100%;">
			    	<input type="" style="width:88%;" class="bg" name="" placeholder="请输入楼盘名称" v-model="search_name"/>
				      <div class="search_btn flex bg" style="width:12%" @click="searchName">
				        <img src="images/search.png">
				      </div>
			    </div>
			</div>
			<div class="sort_select flex">
				<div class="sort_cont flexRowBetween">
					<div class="select_item flexRowBetween" v-for ="(item,index) in menuData" @click="tab(index)">
						<span class="span1">{{item}}</span>
						<span class="span2"><img src="images/up1.png"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="mask" :style="isShow == 0||isShow == 1||isShow == 2||isShow == 3?'height:100%':'height:0'">
			<div class="select_cont">
				<div class="select_box" :style="isShow == 0?'display:block':'display:none'">
					<div class="select_top flex">
						<img src="images/up2.png" style="left:12.5%">
					</div>
					<div class="select_bottom">
						<div class="select_lines font30 color3" @click="search">不限</div>
						<div class="select_lines font30 color3" data-area="海城区"  @click="search">海城区</div>
						<div class="select_lines font30 color3" data-area="银海区"  @click="search">银海区</div>
						<div class="select_lines font30 color3" data-area="铁山港"  @click="search">铁山港</div>
						<div class="select_lines font30 color3" data-area="海城区"  @click="search">合浦县</div>
						<div class="select_lines font30 color3" data-area="银海区"  @click="search">其他</div>
					</div>
				</div>
				<div class="select_box" :style="isShow == 1?'display:block':'display:none'">
					<div class="select_top flex">
						<img src="images/up2.png" style="left:37.5%">
					</div>
					<div class="select_bottom">
						<div class="select_lines font30 color3" data-gtotalPrice="0" data-ltotalPrice="500" @click="search">1000以下</div>
						<div class="select_lines font30 color3" data-gtotalPrice="1000" data-ltotalPrice="3000" @click="search">1000~3000</div>
						<div class="select_lines font30 color3" data-gtotalPrice="3000" data-ltotalPrice="7000" @click="search">3000~7000</div>
						<div class="select_lines font30 color3" data-gtotalPrice="7000" data-ltotalPrice="11000" @click="search">7000~11000</div>
						<div class="select_lines font30 color3" data-gtotalPrice="11000" data-ltotalPrice="18000" @click="search">11000~18000</div>
						<div class="select_lines font30 color3" data-gtotalPrice="18000" data-ltotalPrice="30000" @click="search">18000~30000</div>
						<div class="select_lines font30 color3" data-gtotalPrice="30000" data-ltotalPrice="50000" @click="search">30000~50000</div>
						<div class="select_lines font30 color3" data-gtotalPrice="50000" data-ltotalPrice="" @click="search">50000以上</div>
					</div>
				</div>
				<div class="select_box" :style="isShow == 2?'display:block':'display:none'">
					<div class="select_top flex" >
						<img src="images/up2.png"  style="left:61.5%">
					</div>
					<div class="select_bottom">
						<div class="select_lines font30 color3" data-groomArea="" data-lroomArea="50" @click="search">50m²以下</div>
						<div class="select_lines font30 color3" data-groomArea="50" data-lroomArea="90" @click="search">50-90m²</div>
						<div class="select_lines font30 color3" data-groomArea="90" data-lroomArea="150" @click="search">90-150m²</div>
						<div class="select_lines font30 color3" data-groomArea="150" data-lroomArea="220" @click="search">150-220m²</div>
						<div class="select_lines font30 color3" data-groomArea="220" data-lroomArea="300" @click="search">220-300m²</div>
						<div class="select_lines font30 color3" data-groomArea="300" data-lroomArea="400" @click="search">300-400m²</div>
						<div class="select_lines font30 color3" data-groomArea="400" data-lroomArea="600" @click="search">400-600m²</div>
						<div class="select_lines font30 color3" data-groomArea="600" data-lroomArea="" @click="search">600m²以上</div>
					</div>
				</div>
				<div class="select_box" :style="isShow == 3?'display:block':'display:none'">
					<div class="select_top flex" >
						<img src="images/up2.png"  style="left:86.5%">
					</div>
					<div class="select_bottom">
						<div class="w710">
							<p class="font30 color6" style="height:0.82rem;line-height:0.82rem">类型</p>
							<div class="condition flex">
								<div class="condition_item" data-shopMode="不限" @click="search">不限</div>
								<div class="condition_item" data-shopMode="住宅底商" @click="search">住宅底商</div>
								<div class="condition_item" data-shopMode="临街对面" @click="search">临街对面</div>
								<div class="condition_item" style="margin-top:0.2rem;" data-shopMode="写字楼" @click="search">写字楼</div>
							</div>
							<p class="font30 color6" style="height:0.82rem;line-height:0.82rem">行业</p>
							<div class="condition flex area_con padding30  border_c">
							<div class="condition_item" data-industry="不限" @click="search">不限</div>
							<div class="condition_item" data-industry="餐饮" @click="search">餐饮</div>
							<div class="condition_item" data-industry="美食" @click="search">美食</div>
							</div>
							<p class="font30 color6" style="height:0.82rem;line-height:0.82rem">类别</p>
							<div class="condition flex padding30 border_c">
								<div class="condition_item" data-shoptype="商铺出租" @click="search">商铺出租</div>
								<div class="condition_item" data-shoptype="商铺转让" @click="search">商铺转让</div>
							</div>
							<div class="confirm_btn flexRowBetween">
								<div class="font28 color6 clear_condition">清空搜索条件</div>
								<div class="bg1 font28 color1">确认</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="house_all">
				<div class="house_list w710 flex" v-for="item in mainData" @click="intoPath(item.id)">
					<div class="house_list_cont flex">
						<div class="house_img">
							<img :src="item.mainImg&&item.mainImg.length>0?item.mainImg[0].url:''">
						</div>
						<div class="house_right">
							<div class="flex houseName">
								<h4 class="font30 color3">{{item.name}}</h4>
								<span class="font22 color9">[{{item.area}}]</span>
							</div>
							<div class="font24 color9 flex officeItem" style="height:26%;">
								<span>{{item.officeClass}}</span>|
								<span>{{item.decoration}}</span>|
								<span>共{{item.floor}}层</span>|

								<span>{{item.officeMode}}</span>

							</div>
							<div class="house_price flexRowBetween" style="height:26%;">
								<p>
									{{item.roomArea}}m²
								</p>
								<span class="font24 color">均价{{item.unitPrice}}元/m²</span>
							</div>
							<div class="house_condition flex avoidOverflow" style="height:26%;">
								{{item.address}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div style="font-size:0.20rem;color:#666;text-align:center;">
			    技术支持:西安纯粹科技有限公司
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">      
    var app = new Vue({
        el: '#app',
        data: function() {
            return {
            	isShow:999,
            	menuData:['区域','租金','面积','更多'],
            	mainData:[],
            	searchItem:{
    			},
    			search_name:'',
            }
        },
        
        created: function () {
        	const self = this;
        	this.OfficeHouseList()
        },
        methods:{
        	OfficeHouseList(){
        		const self =this;
        		var postData = {};
        		 postData = {
			       		"is_page":true,
						"currentPage":1,
						"pagesize":10,
						"searchItem":{
						//	"label":1
					}
			    };
        		var callback = (res)=>{
                    self.mainData = res.data; 
                    console.log(self.mainData);
                };
        		window.base.UserShopsList(postData,callback);
        	},
        	search(e){
        		const self =this;
        		self.mainData = [];
        		var dataSet = window.base.getDataSet(e);
        		console.log(999,dataSet);
        		if(dataSet.gtotalprice&&dataSet.ltotalprice){
        			self.searchItem.gtotalPrice = dataSet.gtotalprice;
        			self.searchItem.ltotalPrice = dataSet.ltotalprice;
        		}
        		if (dataSet.groomarea&&dataSet.lroomarea){
        			self.searchItem.groomArea = dataSet.groomarea;
        			self.searchItem.lroomArea = dataSet.lroomarea;
        		}
        		if (dataSet.industry){
        			self.searchItem.shopMode = dataSet.shopmode;
        		}
        		if (dataSet.industry){
        			self.searchItem.industry = dataSet.industry;
        		}
        		if (dataSet.shoptype){
        			self.searchItem.shoptype = dataSet.shoptype;
        		}
        		
        		if (dataSet.area){
        			self.searchItem.area = dataSet.area;
        		}
        		console.log(1000,self.searchItem);
        		var postData = {};
        		 postData = {
					"is_page":true,
					"currentPage":1,
					"pagesize":2,
					"sortby":"totalPrice",
					"sort":"asc",
					searchItem:self.searchItem,
				}
        		var callback = (res)=>{
        				self.isShow = 999;
                        self.mainData = res.data; 
                        
                    };
        		window.base.shopsHouseSearch(postData,callback);
        	},
        	searchName(){
        		const self =this;
        		self.mainData = [];
        		var postData = {};
        		 postData = {
					"is_page":true,
					"currentPage":1,
					"pagesize":2,
					"sortby":"unitPrice",
					"sort":"desc",
					"searchItem":{
						"name":self.search_name,//name字段会模糊匹配
					}
				}
				var callback = (res)=>{
        			console.log(21,res);
                        self.mainData = res.data; 
                        console.log(self.mainData);
                    };
        		window.base.shopsHouseSearch(postData,callback);
        	},
        	tab(e){
        		const self =this;
        		if(self.isShow == e){
 					self.isShow = 999
        		}else{
        			self.isShow = e
        		}
        	},
        	intoPath(index){
        		const self = this;
        		console.log(index);
                const art_id = index;
                window.location.href = "./shopsDetail.html?id=" + art_id;
        	}
        }
    });
            
</script>
</body>
</html>